<form method='POST' action='/courses/create'>
  <div class='container mt-5 w-25'>
    <div class='mb-3 mt-4'>
      <label for='title' class='form-label'>Title</label>
      <input type='text' class='form-control' id='title' name='title' />
    </div>
    <div class='mb-3 mt-4'>
      <label for='description' class='form-label'>Description</label>
      <input type='text' class='form-control' id='description' name='description' />
    </div>
    <div class='mb-3 mt-4'>
      <label for='img' class='form-label'>Link to Image</label>
      <input type='text' class='form-control' id='img' name='img' />
    </div>
    <div class='mb-3 mt-4'>
      <label for='vidId' class='form-label'>Video ID</label>
      <input type='text' class='form-control' id='vidId' name='vidId' />
    </div>
    <div class='mb-3 mt-4'>
      <label for='level' class='form-label'>Level</label>
      <input type='text' class='form-control' id='level' name='level' />
    </div>
    <button type='submit' class='mt-2 btn btn-primary'>Create</button>
  </div>
</form>